.container-header{
    width: 100%;
    height: 100vh;
    display: block;
}

.subcontainer-header{
    width: 100%;
    height: 100%;
}

.container-nav-logo{
    width: 100%;
    height: 15%;
    display: flex;
}


.container-logo{
    width: 30%;
    height: 100%;
}

.container-logo > img{
    width: 30%;
    height: 100%;

    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 .nav  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li a{
    justify-content: space-between;
    margin: 30px;
    justify-content: flex-end;
}

.container-contents{
    width: 100%;
    height: 85%;
    position: relative;
}

.subcontainer-container-contents{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container-cont-description{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-icon-scroll{
    width: 15%;
    height: 15%;
}

span{
    text-align: center;
    padding: 0px 0px 0px 10px;
}

.container-icon-scroll img{
    width: 52.3px;
    height: 52.3x;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.container-img-index{
    width: 45%;
    height: 100%;
    position: relative;
}


.container-img-index img{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    image-rendering: optimizeQuality;
}

main{
    width: 100%;
    height: 100%;
}

.container-main{
    width: 100%;
    height: 100%;
    position: relative;
}

.container-metodologia{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.subcontainer-metodologia{
    width: 95%;
    height: 95%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title-section{
    width: 100%;
    height: 10%;
}

.container-items{
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.container-item{
    width: 45%;
    height: 45%;
}

.container-nosotros{
    width: 100%;
    height: 100vh;
}

.subcontainer-nosotros{
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-cards{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card{
    width: 50%;
    height: 100%;
    position: relative;
}

.card-inner , .card-back{
    width: 80%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-proyects{
    width: 100%;
    height: 100vh;
}

.subcontainer-proyectos{
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-monitor{
    width: 100%;
    height: 90%;
    position: relative;
}

.container-monitor img{
    width: 75%;
    height: 100%;
    position: relative;
}

.container-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.subcontainer-sliders{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.container-gif{
    width: 75%;
    height: 90%;
    position: absolute;
    z-index: 1;
}

.container-gif .gif > img{
    width: 80%;
    height: 75%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
}

.gif img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container-description{
    position: absolute;
    width: 35%;
    height: 70%;
    z-index: 2;
    margin-left: 65%;
    justify-content: end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text-description{
    width: 100%;
    height: 80%;
    text-align: center;
    flex-direction: column;
}

/* Empieza el layout para celulares y tablets */
@media screen  and (max-width: 800px) {
    body{
        overflow: visible;
    }

    /* Vamos a optimizar el nav para el navegador*/


    .nav ul {
        justify-content: none;
        justify-items: center;
        padding: 5px;
        margin: 0px;
    }

    ul li a {
        font-size: 12.5px;
    }

    .subcontainer-container-contents{
        width: 80%;
        height: 80%;
    }

    .container-cont-description p {
        font-size: 11.8px;
    }

    .container-icon-scroll img{
        width: 35px;
        height: 30px;
        margin: 5px;
    }
    .container-icon-scroll span{
        text-align: center;
        font-size: 11.8px;
        padding: 0px;
        margin: 5px -5px 0px 0px;
    }
    
    /* Arreglando el boton de felchas */

    


}

